ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left; /* aliniere orizontală */
  margin-right: 5px;
}

a:link,
a:visited {
  display: block;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  background-color: #000; /* fundal negru */
  width: 100px;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
}

a:hover,
a:active {
  background-color: #444; /* gri închis la hover */
}
